
<ul class="nav navbar-nav">

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        // if <compilation debug="true"> is set in Web.config.
        foreach (var modulo in ViewBag.Modulos)
        {
            <li class="dropdown">
                <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown"><span aria-hidden="true" class="fa fa-plus-square"></span> @modulo.Nombre <span aria-hidden="true" class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    @foreach (var opcion in modulo.Opciones)
                    {
                        <li><a href="@Url.RouteUrl(HomeControllerRoute.GetIndex)"><span aria-hidden="true" class="fa fa-caret-square-o-right"></span> @opcion.Nombre</a></li>
                    }
                </ul>
            </li>
            
        }
    }
</ul>
